@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant SC:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 3px solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1%;
}
.header_logo {
  position: absolute;
  left: 5%;
}
.coin_list {
  display: flex;
  gap: 10px;
  background: #000;
  padding: 10px 20px;
  margin-left: 15%;
}

.header_coin {
  position: relative;
  padding-left: 50px;
  color: #f5c542;
  font-family: "Montserrat", sans-serif;
}

.coin_icon {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.coin_icon img {
  width: 22px;
  height: 22px;
}

.header_coin p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: small;
}

.header_coin .price {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.select-wrapper {
  position: relative;
  width: 180px;
}

.select-wrapper select {
  width: 100%;
  padding: 6px 30px 6px 10px;
  background: #000;
  color: #fff;
  border: 1px solid gold;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;

  /* remove default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Custom arrow */
.select-wrapper::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 4px;
  height: 4px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

/* Hover & focus */
.select-wrapper select:hover,
.select-wrapper select:focus {
  border-color: #e0c46c;
  outline: none;
}

/* Dropdown options */
.select-wrapper select option {
  background: #000;
  color: #fff;
}

/*nav-links*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background: radial-gradient(circle at center, #1a1a1a 0%, #000 60%);
  border-bottom: 2px solid #caa84a;
  font-family: "Montserrat", sans-serif;
}

/* LINKS */
.nav_links ul {
  display: flex;
  gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_links a {
  text-decoration: none;
  color: #f0c86a;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav_links a:hover {
  color: #fff;
}

/* BUTTONS */
.nav_btn {
  display: flex;
  gap: 16px;
}

.nav_btn input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* LOGIN (gold fill) */
.nav_btn input[value="LOGIN"],
input[value="MENU"] {
  background: linear-gradient(180deg, #c59433, #6b4803, #c59433);
  border: none;
  color: #000;
}
input[value="MENU"] {
  display: none;
}
.nav_btn input[value="LOGIN"]:hover {
  box-shadow: 0 0 12px rgba(202, 168, 74, 0.6);
}

/* SIGNUP (gold outline) */
.nav_btn input[value="SIGNUP"] {
  background: transparent;
  border: 2px solid #caa84a;
  color: #f0c86a;
}

.nav_btn input[value="SIGNUP"]:hover {
  background: #caa84a;
  color: #000;
}

main {
  background-image: url(images/royalcoinclub.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 140vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid goldenrod;
}

.plan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 100px;
  width: 100%;
  padding: 50px 40px;
  padding-left: 170px;
}

.plan .card {
  background: linear-gradient(145deg, #0b0b0b, #000);
  border: 1.5px solid #c9a24d;
  border-radius: 18px;
  padding: 10px;
  color: #fff;
  box-shadow: 0 0 25px rgba(201, 162, 77, 0.15);
  width: 300px;
  animation: floatY 3.5s ease-in-out infinite;
}

.card_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.percent {
  font-size: 32px;
  font-weight: 700;
  color: #c9a24d;
}

.card h3 {
  font-size: 25px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.card small {
  color: #c9a24d;
  font-size: 12px;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}

.main_btn input[value="CLICK TO JOIN"] {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(180deg, #c59433, #6b4803, #c59433);
  border: none;
  color: #000;
}

main #main_p {
  font-size: 30px;
  font-weight: 400;
  margin-top: 230px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.intro {
  padding-left: 5%;
  padding-top: 10%;
  height: 170vh;
  position: relative;
  border: 1px solid white;
  background-color: #252323da;
}
.intro .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.intro .welcome_message {
  width: 600px;
  text-align: justify;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: rgba(8, 8, 8, 0.838);
}
.intro .welcome_message h3 {
  font-size: 30px;
  /* font-family: "Cinzel", serif; */
  font-family: "Cormorant SC", serif;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: gold;
  font-weight: 500;
}
.intro_info {
  padding-top: 20%;
}
.info_card {
  width: 460px;
  border: 1px solid gold;
  border-radius: 10px;
  margin: 20px;
  padding: 5px;
  background-color: #0000008d;
  font-family: "Cinzel", serif;
  font-weight: 400;
}
.info_card img {
  display: inline-block;
  float: right;
}
.info_card .tittle {
  color: gold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.reveal-left,
.reveal-right {
  opacity: 0;
  transition: all 0.9s ease-out;
}

/* From left */
.reveal-left {
  transform: translateX(-150px);
}

/* From right */
.reveal-right {
  transform: translateX(150px);
}

/* Activated */
.reveal-left.active,
.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}

.safecurve {
  position: absolute;
  bottom: 16%;
  text-align: center;
}
.safecurve p {
  font-size: 26px;
  font-weight: 400;
  color: goldenrod;
}
.section_log {
  position: absolute;
  bottom: 2%;
}
.section_log img {
  padding: 2px 8px;
  background-color: #00000072;
  border-radius: 5px;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* tradingview */
/* trading */
.referral {
  height: 90vh;
  padding-top: 10%;
  border: none;
}
.program {
  display: flex;
  gap: 2rem;
}
.commission {
  width: 550px;
  border: 4.5px solid gold;
  border-radius: 10px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
  padding-top: 5%;
}
.commission img {
  position: absolute;
  top: -25%;
  left: 35%;
}
.commission h3 {
  color: gold;
  text-transform: uppercase;
  font-family: "Cormorant SC", serif;
  font-size: 26px;
}
.commission_reward {
  border-top: 2.5px solid gold;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 1px;
}
.reason {
  border-bottom: 5px solid gold;
  text-align: center;
  height: 110vh;
}
.reason h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  color: gold;
  margin: 5%;
}
.reason_details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.reasons {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.reasons span {
  flex-shrink: 0;
}

.reasons img {
  width: 80px; /* adjust as needed */
  height: auto;
}
.text {
  width: 450px;
}
.reasons h4 {
  margin: 0 0 8px;
  font-size: 16px;
}

.reasons p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.reasons {
  opacity: 0;
  transform: translateY(-80px);
  transition:
    opacity 0.3s ease,
    transform 0.6s ease;
}

/* when visible */
.reasons.show {
  opacity: 1;
  transform: translateY(0);
}
/* transaction */
.transaction {
  display: flex !important; /* Use !important only if other styles are interfering */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
  width: 100%;
  padding: 5% 3%;
}

/* 3. The Three Columns */
.transaction > .activities,
.transaction > .stats_container {
  flex: 1; /* Grow and shrink equally */
  /*min-width: 0;      Critical: allows flex items to shrink below their content size */
  /*max-width: 33%;    Ensures they stay in 3 columns */
}

.activities {
  width: 350px;
  border: 2px solid gold;
  border-radius: 15px;
  height: 320px;
  background-color: #000;
}
.card-header {
  background-color: gold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 18px 10px;
  display: flex;
  gap: 8rem;
  font-weight: 500;
  color: #000;
  font-family: sans-serif;
}
table {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
  padding: 7px;
  background-color: #1a1a1a;
  text-align: left;
  font-size: 14px;
  font-weight: 400px;
}
th,
td {
  width: auto;
}

.stats_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 200px;
}
.stats_container .card {
  background: linear-gradient(180deg, #b8903e, #835e15, #b8903e);
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  color: #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.stats_container .card .icon {
  font-size: 25px;
  margin-bottom: 10px;
}

.stats_container .card h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stats_container .card p {
  font-size: 10px;
  opacity: 0.9;
}

/* 1. Animation for the Left Column (Slide In) */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Animation for the Right Column (Slide In) */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 3. Animation for the Stats (Dangle/Bounce) */
@keyframes dangleAppear {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-70px);
  }
  70% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* Apply to your HTML elements */
.transaction .activities:first-child {
  animation: slideInLeft 0.3s ease-out forwards;
}

.transaction .activities:last-child {
  animation: slideInRight 0.3s ease-out forwards;
}

.stats_container .card {
  opacity: 0; /* Start hidden */
  animation: dangleAppear 0.3s ease-out forwards;
}

/* Stagger the stats cards so they appear one by one */
.stats_container .card:nth-child(1) {
  animation-delay: 0.1s;
}
.stats_container .card:nth-child(2) {
  animation-delay: 0.2s;
}
.stats_container .card:nth-child(3) {
  animation-delay: 0.1s;
}
.stats_container .card:nth-child(4) {
  animation-delay: 0.2s;
}
.stats_container .card:nth-child(5) {
  animation-delay: 0.3s;
}
.stats_container .card:nth-child(6) {
  animation-delay: 0.3s;
}

/* payment option */
.payment_method {
  width: 100%;
  height: 50vh;
  margin-top: 5%;
  border-top: 4px solid gold;
  padding-top: 5%;
}
.payment_method h2 {
  font-size: 40px;
  font-family: serif;
  font-weight: 400;
  color: goldenrod;
}
.payment_options {
  display: flex;
  gap: 20px;
}
.payment {
  border: 3px solid goldenrod;
  border-radius: 10px;
}
.payment img {
  width: 120px;
}
footer {
  border-top: 2px solid gold;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  gap: 50px;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}
.footer_logo {
  text-align: right !important;
}
#quick_links,
#faq {
  text-align: right;
}
#quick_links ul,
#faq ul {
  list-style-type: none;
}
#quick_links a,
#faq a {
  line-height: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
}
#quick_links a:hover,
#faq a:hover {
  color: gold;
}
.contacts {
  text-align: left !important;
}
/* form */
.form {
  width: 600px;
  background: radial-gradient(circle at top, #1a1a1a, #000);
  border: 3px solid #c9a24d;
  border-radius: 12px;
  padding: 40px 0 0;
  box-shadow: 0 0 40px rgba(201, 162, 77, 0.35);
  position: relative;
}

h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  margin-bottom: 25px;
  color: #d6b45a;
  font-weight: 400;
}
.signup_curve {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
}
p {
  font-size: 12px;
  text-align: center;
  color: gold;
  text-transform: uppercase;
}
.member_icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}
.input-box {
  margin-bottom: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.input-box input {
  width: 100%;
  padding: 14px 15px;
  background: transparent;
  border: 2px solid #c9a24d;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.input-box input::placeholder {
  color: #aaa;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 25px;
  font-size: 14px;
}

.terms span {
  color: #d6b45a;
  cursor: pointer;
}

button {
  width: 30%;
  display: block;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, #e5c670, #b8902e);
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto !important;
}

button:hover {
  opacity: 0.85;
}

.bottom {
  width: 100%;
  margin-top: 25px;
  text-align: center;
  padding: 25px;
  background-color: goldenrod;
  color: #000;
  font-size: 14px;
}

.bottom a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}

.hidden {
  display: none;
}

/*  */
#chatButton {
  position: fixed;
  bottom: 30px;
  right: 10px;

  background: #1a73ff;
  color: white;

  padding: 16px 25px;
  border-radius: 40px;

  font-size: 18px;
  cursor: pointer;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 9999;
}

#chatFrame {
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 300px;
  height: 400px;

  border: none;
  border-radius: 15px;

  display: none;
  background: #fff;

  z-index: 9999;
}
